.popup-photo__content {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 75vw;
  max-height: 75vh;
}

@media screen and (min-width: 1024px) {
  .popup-photo__content {
    margin: auto;
  }
}
