.profile__add-button {
  margin: 32px 0 0;
  padding: 0;
  background-image: url(../../../images/add_button_mobile.svg);
  background-color: transparent;
  border: none;
  height: 50px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .profile__add-button {
    margin: 0;
    width: 150px;
    background-image: url(../../../images/add_button_desktop.svg);
    position: absolute;
    right: 0;
    align-self: center;
  }
}
