@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Regular.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Medium.otf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Black.otf);
  font-style: normal;
  font-weight: 900;
}
